/* h1{} => selector */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.abc{
    color: red;
}
.center{
    text-align: center;
}

/* div =>
    1. to structure the code
    2. to apply the css to all inner elements in one shot
*/

/* box model
    1. border => thickness, style, color
    2. padding => space inside the border
    3. margin => space outside the border
*/


.box{
   border: 1px solid lightgray;
   width: 300px;
   padding: 14px;
   margin: 60px auto;
   border-radius: 14px;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}
.bg{
    background-color: orangered;
    width: 670px;
    margin: 70px auto;
    color: white;
    padding:120px 40px;
    border-radius: 24px;
}
.btn{
    background-color: white;
    border: none;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 8px;
}
.login{
    width: 340px;
    margin: 120px auto;
    text-align: center;
}
.input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 0;
}
.login-btn{
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
}

/* box-sizing: border-box ensures that the content is not going out of the parent
element because of padding */
.logo{
    height: 40px;
}